.featureContent{
    background-color: #0163f542;
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

.wave2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 10%;

}

.featureText{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    gap: 1rem;
    padding: 0 2rem;
}

.studio_img{
    max-width: 100%;
    border-radius: .5rem;
}

.h1{
    font-size: 4rem;
    padding: 4rem 0;
    font-weight: 600;
    text-align: center;
}

.list{
    font-size: 2rem;
    padding: 1rem 0;
}

@media (max-width:700px){
    .h1{
        font-size: 3rem;
        padding: 2rem 0;
        font-weight: 600;
    }
    
    .list{
        font-size: 2rem;
        padding: 1rem 0;
        text-align: center;
    }

    .featureText{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 0 2rem;
    }
}